doctype html
head
    title gustatorialmag
    meta(charset='UTF-8')
    link(rel='stylesheet' href='styles/common.css')
    link(rel='stylesheet' href='styles/box.css')
    link(rel='stylesheet' href='styles/comingSoon.css')
    link(rel='stylesheet' href='styles/responsive.css')
    link(href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
  div#myModal.modal
    div.modal-content
      div.modal-header
        span.close &times;
      div.modal-body
        p#dialog
  div#comingSoon
    div.text-side
      img.logo(src="img/logo.png")
      p.sub-text cultural gourmet magazine
      div.text-side-center
        p.soon coming soon
        p.sub-soon While waiting, get your free copy of curated collection of gourmet hotels:
        form(action='/signup' method='POST')
          input(placeholder="enter your email" type='email' name='email', 
                              onkeypress='return event.keyCode != 13;')
          br
          button(type="submit" class="button-email") submit
    div.photo-side
      table
        td(width="100")
          img.welcome-photo(src="img/Calis.jpg")
  script(type='text/javascript' src='js/script.js')




    
      
    
  
