doctype html
head
    title gustatorialmag
    meta(charset='UTF-8')
    link(rel='stylesheet' href='styles/common.css')
    link(rel='stylesheet' href='styles/comingSoon.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    form(action='/signup' method='POST')
      #landing
  .overlay
  .comingSoonImage
  h1.landtitle coming soon ...
  h2.text subscribe to newsletters
  .button
    input#email.subscription_form(placeholder='', type='email', onkeypress='return event.keyCode != 13;')
    a.paperplane(onclick='post_email()')
  p.copyright
    | &copy; Gustatorial 
    br
    |  Photo by Ann Calis
script(type='text/javascript', src='js/script.js')
