doctype html
head
    title gustatorialmag
    meta(charset='UTF-8')
    link(rel='stylesheet' href='styles/common.css')
    link(rel='stylesheet' href='styles/comingSoon.css')
    link(rel='stylesheet' href='styles/responsive.css')
    link(href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
  div#comingSoon
    img.welcome-photo(src="img/Calis.jpg")
    div.overlay
    div.aside
      img.logo(src="img/logo.png")
      p.sub-text cultural gourmet magazine
      div.text-container
        p.soon coming soon
        p.sub-soon While waiting, get your free copy of curated collection of gourmet hotels:
        form(action='/signup' method='POST')
          input(placeholder="enter your email" type='email' name='email', 
                          onkeypress='return event.keyCode != 13;')
          button(type="submit" class="button-email") submit          
  script(type='text/javascript' src='js/script.js')




    
      
    
  
