doctype html
head
  title Gustatorialmag
  meta(charset='UTF-8')
  link(rel='stylesheet' href='styles/landing.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
#landing
  .overlay
  .landingImage
  .landingContent
    h3.name.item gustatorialmag
    .routes.item
      li
        a(href='') AAAA1
      li
        a(href='') AAAA1
      li
        a(href='') AAAA1
      li
        a(href='') AAAA1
      li
        a(href='') AAAA1
      li
        a(href='') AAAA1
      li
        a(href='') AAAA1
    h7.admin.item connexion admin
script(src='script.js')
