@media only screen and (min-width: 26em)
									 and (min-device-width: 414px)
									 and (orientation:landscape) {
	.text-side {
    float: left;
    width: 50%;
    position: relative;
    top: 52%;
    transform: translateY(-50%);
  }

	.photo-side {
    float: right;
    width: 50%;
    height: 100%;
  }

  .photo-side img {
    width: 100%;
    max-height: 100%;
    height: auto;
    vertical-align: middle;
  }
}
