@media screen and (max-device-width: 900px) and (orientation: portrait){
    .welcome-photo {
	 margin-top: 900px !important;
     width: 100% !important;
     height: 40% !important;
	}
    .overlay {
      height: 0% !important;
      width: 0% !important;
    }

    .aside {
      height: 45% !important;
      width: 100% !important;
    }

    .logo {
      max-height: 100px !important;
	  max-width: 100% !important;
    }

    .sub-text {
      padding-top: 40px !important;
      font-size: 30px !important;
    }

    .soon {
      font-size: 45px !important;
    }

    .sub-soon {
      font-size: 25px !important;
      line-height: 40px !important;
    }

    #comingSoon input {
      width: 80% !important;
      font-size: 20px !important;
    }

    .button-email {
      font-size: 30px !important;
      padding: 15px 20px !important;
      margin-top: 50px !important;
      }
}


@media all and (max-height: 860px) and (max-width:1100px) {
	#comingSoon {
		min-height: 860px !important;
	}
}

@media all and (max-height: 700px) and (min-width: 1100px){
	#comingSoon {
		min-height: 700px !important;
	}
    .welcome-photo {
     height: 700px !important;
	 }
    .overlay{
     height: 700px !important;
	 }
}

@media all and (max-width: 660px){
    .welcome-photo {
     width: 0% !important;
     height: 0% !important;
	}
	}
